<!DOCTYPE html>
<html>
  <head>
    <script src="js/angular.js"></script>
    <script src="js/sort.js"></script>
  </head>
  <body ng-app="filterApp" ng-controller="Employees">
    <div style="padding-bottom:10px;">
      <label>Sort By: </label>      
      <select ng-model="sortColumn">
        <option value="name">Name ASC</option>
        <option value="gender">Gender ASC</option>
        <option value="dob">Dob ASC</option>
        <option value="-salary">Salary DESC</option>
      </select>
    </div>    
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Salary (number)</th>
          <th>Salary (currency}})</th>    
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees|orderBy: sortColumn">
          <td>{{employee.name|uppercase}}</td>
          <td>{{employee.dob|date:"dd/MM/yyyy"}}</td>
          <td>{{employee.gender|lowercase}}</td>
          <td>{{employee.salary|number:2}}</td>
          <td>{{employee.salary|currency:"INR ":1}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>