<!DOCTYPE html>
<html>
  <head>
    <title>ng-class example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
    <style>
      .changeColor{color:blue;}
      .changeSize{font-size: 30px;}
      .makeItalic{font-style: italic;}
    </style>
  </head>
  <body ng-app>
    <!--First Example-->
    <div ng-class="{changeColor:Color,changeSize:Size,makeItalic:Italic}">First Method</div>
    <ul>
      <li><input type="checkbox" ng-model="Color"/>Change Color</li>
      <li><input type="checkbox" ng-model="Size"/>Change Size</li>
      <li><input type="checkbox" ng-model="Italic"/>Make it Italic</li>
    </ul>
    
    <!--Second Example-->
    <div ng-class="style">Second Method</div>
    <input type="text" size="40" ng-model="style" placeholder="Type changeColor or changeSize or makeItalic" />
    <br/><br/>
    <!--Third Example-->
    <div ng-class="[style1,style2,style3]">Third Method</div>
    <input type="text" size="40" ng-model="style1" placeholder="Type changeColor or changeSize or makeItalic" />
    <input type="text" size="40" ng-model="style2" placeholder="Type changeColor or changeSize or makeItalic" />
    <input type="text" size="40" ng-model="style3" placeholder="Type changeColor or changeSize or makeItalic" />
  </body>
</html>
