<!DOCTYPE html>
<html>
  <head>
    <title>Form Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
  </head>
  <body ng-app="myapp">
    <h2>Form Example</h2>
    <div ng-controller="myController">
      <fieldset>
      <form>
        <label>First Name:</label> <input type="text" name="firstName" ng-model="myForm.firstName" /><br/><br/>
        <label>Last Name:</label> <input type="text" name="lastName" ng-model="myForm.lastName" /><br/><br/>
        <label>Want NewsLetter:</label> <input type="checkbox" ng-model="myForm.wantNewsLetter" ng-true-value="'YES'" ng-false-value="'NO'"/><br/><br/>
        <label>Weekly News:</label> <input type="radio" value="weeklyNews" ng-model="myForm.newsLetterType"/><br/><br/>
        <label>Monthly News:</label> <input type="radio" value="monthlyNews" ng-model="myForm.newsLetterType"/><br/><br/>
        <label>Select multiple Car:</label>
        <select ng-model="myForm.car1" multiple>
          <option value="">Please choose cars</option>
          <option value="nissan">Nissan</option>
          <option value="toyota">Toyota</option>
          <option value="fiat">Fiat</option>
        </select><br/><br/>
        <label>Select a Car:</label>
        <select ng-model="myForm.car2" ng-options="option.name for option in myForm.cars">
          <option value="">Please choose a car</option>
        </select>
      </form>
      </fieldset>
      <br />
      <div>
        <p>Name: {{myForm.firstName}} {{myForm.lastName}}</p>
        <p>Want NewsLetter? {{myForm.wantNewsLetter}}</p>
        <p>NewsLetter Type? {{myForm.newsLetterType}}</p>
        <p>Cars: {{myForm.car1}}</p>
        <p>Car: {{myForm.car2.name}}</p>
      </div>
    </div>
    <script type="text/javascript">
      var myapp = angular.module("myapp",[]);
      myapp.controller("myController",["$scope",function($scope){
        var myForm = {};
        myForm.firstName = "Jack";
        myForm.lastName = "Holmes";
        $scope.myForm = myForm;
        myForm.cars = [
          {id:"nissan",name:"Nissan"},
          {id:"toyota",name:"Toyota"},
          {id:"fiat",name:"Fiat"}
        ];
      }]);
    </script>
  </body>
</html>
