<!DOCTYPE html>
<html>
  <head>
    <title>Form Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/angular.min.js"></script>
  </head>
  <body ng-app="myapp" ng-controller="mycontroller">
    <form>
      <fieldset>
        <legend>Form Example</legend>
        <label>First Name: </label><input type="text" ng-model="myData.firstName"/><br/><br/>
        <label>Last Name: </label><input type="text" ng-model="myData.lastName"/><br/><br/>
        <label>Want a NewsLetter: </label><input type="checkbox" ng-model="myData.newsletter" ng-false-value="'No'" ng-true-value="'Yes'" /><br/><br/>
        <label>Weekly News: </label><input type="radio" ng-model="myData.newsletterType" value="Weekly" /><br/><br/>
        <label>Monthly News: </label><input type="radio" ng-model="myData.newsletterType" value="Monthly"/><br/><br/>
        <label>Select Car colors: </label><br/>
        <select ng-model="myData.carColors" ng-options="' '+item.color as item.color for item in myData.colors" multiple></select>
        <br/><br/>
        <label>Select a Car: </label><br/><br/>
        <select ng-options="option.car as option.car for option in myData.cars" ng-model="myData.car"><option value="">Select a Car</option></select>
      </fieldset>
    </form>
    <div style="padding-top: 20px;">
      <strong>Summary:</strong>
      <p><label>First Name: </label><span ng-bind="myData.firstName"></span></p>
      <p><label>Last Name: </label><span ng-bind="myData.lastName"></span></p>
      <p><label>Want a NewsLetter: </label><span ng-bind="myData.newsletter"></span></p>
      <p><label>NewsLetter Type: </label><span ng-bind="myData.newsletterType"></span></p>
      <p><label>Selected Car colors: </label><span ng-bind="myData.carColors"></span></p>
      <p><label>Selected Car: </label><span ng-bind="myData.car"></span></p>
    </div>
    <script type="text/javascript">
      var myapp = angular.module("myapp",[]).controller("mycontroller",["$scope",function($scope){
        var myData = {};
        myData.newsletter = "No";
        myData.colors = [
          {id:"red",color:"Red"},
          {id:"yellow",color:"Yellow"},
          {id:"blue",color:"Blue"},
          {id:"green",color:"Green"},
          {id:"pink",color:"Pink"}
        ];
        myData.cars = [
          {id:"wagonr",car:"WagonR"},
          {id:"i20",car:"I20"},
          {id:"bmw",car:"BMW"},
          {id:"audi",car:"Audi"},
          {id:"polo",car:"Polo"}
        ];
        $scope.myData = myData;
      }]);
    </script>
  </body>
</html>
