<!DOCTYPE html>
<html>
  <head>
    <title>ng-click Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <style>
      .changeBgColor {
        background-color: yellow;
        width: 150px;
      }
    </style>
  </head>
  <body ng-app="myapp">
    <div ng-controller="mycontroller">
      <strong>Click on the below Items</strong>
      <ul ng-repeat="item in myData.items">
        <li>
          <button ng-click="myData.doClick(item,$event)">{{item.num}}</button>
        </li>
      </ul>
    </div>
    <div ng-controller="cuisineController">
      <strong>Move the mouse over the below Items</strong>
      <ul ng-repeat="item in myData.items">
        <li ng-mouseover="myData.selectElement($index)" ng-class="{changeBgColor:$index==myData.selectedRow}">{{item.name}}</li>
      </ul>
    </div>
    <script type="text/javascript">
      var myapp = angular.module("myapp",[]);
      myapp.controller("mycontroller",["$scope",function($scope){
        var myData = {};
        myData.items = [{num:"Button1"},{num:"Button2"},{num:"Button3"}];
        $scope.myData = myData;
        myData.doClick = function(item,event){
          alert("Item clicked: " + item.num);
          alert("Mouse position: X-Coordinate " + event.clientX + ", Y-Coordinate: " + event.clientY);
        }
      }]);
      myapp.controller("cuisineController",["$scope",function($scope){
        var myData = {};
        myData.items = [
          {name:'White Orchid1',cuisine:'BBQ1'},
          {name:'White Orchid2',cuisine:'BBQ2'},
          {name:'White Orchid3',cuisine:'BBQ3'},
          {name:'White Orchid4',cuisine:'BBQ4'}
        ];
        $scope.myData = myData;
        myData.selectElement = function(index){
          myData.selectedRow = index;
        };
      }]);
    </script>
  </body>
</html>
