<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../js/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myapp" ng-controller="mycontroller">
      <div>
        <strong>Sr. No</strong>
        <strong>Title</strong>
        <strong>Price</strong>
        <strong>Quantity</strong>
        <strong>Total Price</strong>
        <ol>          
          <li ng-repeat="item in mydata.items">
            <span>{{item.title}}</span>
            <span>{{item.price}}</span>
            <span><input ng-model="item.quantity"/></span>
            <span>{{item.price * item.quantity | currency}}</span>
            <span><button ng-click="mydata.remove($index)">Remove</button></span>
          </li>
        </ol>
      </div>
      <div>
        <p><label>Total: {{mydata.totalCart()|currency}}</label></p>
        <p><label>Discount: {{mydata.bill.discount|currency}}</label></p>
        <p><label>Final Bill: {{mydata.subTotal()|currency}}</label></p>
      </div>
    </div>
    <script type="text/javascript">
      angular.module("myapp",[]).controller("mycontroller",["$scope",function($scope){
          var mydata = {};
          mydata.bill = {};
          mydata.items = [
            {title:"Table",quantity:"1",price:"10"},
            {title:"Chair",quantity:"1",price:"20"},
            {title:"Lamp",quantity:"1",price:"50"}
          ];
          $scope.mydata = mydata;
          mydata.remove = function(index){
            this.items.splice(index,1);
          };
          mydata.totalCart = function(){
            var total = 0;            
            for(var i = 0, len = this.items.length;i<len;i++){
              total = total + this.items[i].quantity * this.items[i].price;
            }            
            return total;
          };
          mydata.subTotal = function(){                   
            return this.totalCart() - this.bill.discount;
          }; 
          mydata.calculateDiscount = function(newValue,oldValue,scope){
            this.bill.discount = newValue > 300 ? 10 : 0;
          }
          $scope.$watch(mydata.totalCart,mydata.calculateDiscount);
      }]);
    </script>
  </body>
</html>